-- Hyprland default apps

TERMINAL     = "kitty"
FILE_MANAGER = "thunar"
BROWSER      = "zen-browser"
EDITOR       = "gnome-text-editor --new-window"
CALCULATOR   = "gnome-calculator"

-- Monitors
MONITOR1 = "{{ .monitors.MONITOR1 }}"
MONITOR2 = "{{ .monitors.MONITOR2 }}"
MONITOR3 = "{{ .monitors.MONITOR3 }}"
PRIMARY_MONITOR = MONITOR1

-- Workspaces
NUM_WPM = 5 -- Number of workspaces per monitor (Max 10)
